<div  ng-controller="formCtrl">
<div class="row">
  <div class="col-md-6">
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" ng-model="search.ingredient" class="form-control input-lg" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button" ng-click="update(search)">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
      </div>
    </div>
  </div>
</div>
</div>
<br />
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="el in main.api.recipes track by $index">
    <div class="well">
    <div class="thumbnail" >
      <div style="background-image: url({{el.image_url}}); height: 220px" ng-click="showMore(el.recipe_id)"></div>
      <div class="caption">
        <h3>{{el.title}}</h3>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- ng-click est pas encore au point... -->
